.layout {
    display: flex;
    min-height: 100vh;
    background-color: #111827;
    color: white;
    position: relative; /* Para el posicionamiento del overlay */
}

.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.pageContent {
    padding: 2rem;
    overflow-y: auto;
    flex-grow: 1;
}

/* --- NUEVO: Estilo para el overlay --- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40; /* Por debajo del Navbar (z-index 50) pero por encima de todo lo demás */
}